body {
    width: 70%;
    margin: 50px auto;
    background-color: #f5f5f5;
}

p {
    font-family: Calibri;
    font-weight: 500;
    margin: 0px;
}

ul, .main-menu {
    padding: 0;
}

.main-nav {
    background-color: #5D70FF;
    width: 12%;
    border-radius: 20px 0 0 20px;
    padding: 20px 20px 20px 10px;
}

.main-nav, .widget, .content {
    float: left;
    height: 650px;
}

.widget, .content {
    margin-left: -20px;
    padding: 20px 40px;
}

.main-menu {
    margin: auto;
}

.main-menu li {
    list-style: none;
    margin: 10px;
}

.main-menu li, .main-menu i, .main-menu a, .main-menu p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

.main-menu i {
    font-size: 30px;
}

.widget {
    /*background-color: #daddf5;*/
    background-color: #e9ebf5;
    width: 28%;
    position: relative;
    border-radius: 20px;
    z-index: 999;
}

.content {
    background-color: #fff;
    width: 48%;
    margin-left: -20px;
    border-radius: 0 20px 20px 0;
}